// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-status-completed {
	color: purple;
}

.order-status-in_progress {
	color: blue;
}

.order-status-cancelled {
	color: red;
}

.order-status-invoiced {
	color: green;
}
